.navbar {
  display: flex;
  justify-content: center;
  background-color: #2d8a76;
}

.menu-wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand .logo {
  width: 100px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu li a,
.user-login-logout a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.user-login-logout {
  display: flex;
  align-items: center;
}

.userProfile {
  display: flex;
  align-items: center;
}

.user-login-logout a {
  margin: 0 10px;
}

.userProfile .dark-icon {
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
}

.login {
  padding: 6px 12px;
  background-color: #fff;
  color: #2d3436 !important;
  font-size: 16px;
  border-radius: 5px;
}
.logout {
  display: flex;
  align-items: center;
}

.empty-user {
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 50px;
  background-color: #b2bec3;
}

.mobile-menu {
  display: none;
}

/* .mobile-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

@media screen and (max-width: 550px) {
  .mobile-menu {
    font-size: 30px;
    display: block;
    cursor: pointer;
  }

  .menu {
    width: 90%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 10px;
    background-color: #2d8a76;
    transition: all 0.3s ease-in-out;
  }

  .menu li {
    margin: 20px 0;
    padding: 0 20px;
  }

  .userProfile {
    position: absolute;
    padding-left: 20px;
    bottom: 20px;
    transition: all 0.3s ease-in-out;
  }
}
