.categories-title {
  margin-bottom: 20px;
}

.categories-name {
  padding: 10px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-decoration: underline;
  cursor: pointer;
  color: aliceblue;
  background-color: #2d8a76;
}
